// Variables
$white: #f5f5f5;
$green: #5cb85c;
$firefox-orange: #ff9500;
$ms-blue: #00a1f1;
$google-yellow: #fbbc05;
$vivaldi-red: #cc0f16;

//Mixins
@mixin borders ($color) {
    border-right: 2px solid $color;
    border-left: 2px solid $color;
}

// General
body {
    background-color: $white;
}

// Utility
.orange {
    color: $firefox-orange;
}

.blue {
    color: $ms-blue;
}

.yellow {
    color: $google-yellow;
}

.red {
    color: $vivaldi-red;
}

.border-green {
    @include borders($green);
}

.border-orange {
    @include borders($firefox-orange);
}

.border-blue {
    @include borders($ms-blue);
}

.border-yellow {
    @include borders($google-yellow);
}

.border-red {
    @include borders($vivaldi-red);
}

// Main Content
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

img.browser {
    transition: 0.5s all;
    &:hover {
        opacity: 0.65;
    }
}

ul.list-unstyled {
    li {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
}
// Footer
footer {
    margin-top: 2rem;
}
// Media Queries
@media only screen and (max-width: 768px) {
    .navbar {
        padding-left: 0rem;
        padding-right: 0rem;
    } 
    footer {
        margin-top: 1.5rem;
    }
};