<div class="container">
	<h2 class="d-flex justify-content-center orange">Mozilla Firefox</h2>
	<img class="img-fluid rounded mx-auto d-block browser" src="img/firefox_256x256.png" alt="firefox">
	<div class="row border-orange">
		<div class="col-sm-12 col-md-6 d-flex align-items-center">
			<p><strong>Mozilla Firefox</strong> is an open-source web browser developed by the Mozilla Foundation, first
				released in 2002. Firefox is the successor to the earlier Netscape Navigator, which was one of the most
				popular browsers in the 1990s. Extensions are one of Firefox's strongest features; additional
				functionality such as adblocking, userstyles, and enhanced privacy features can be added with just a few
				clicks.</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<table class="table">
				<thead class="orange">
					<th>Feature/Information</th>
					<th>Description</th>
				</thead>
				<tbody>
					<tr>
						<td>First Released</td>
						<td>September 23, 2002</td>
					</tr>
					<tr>
						<td>Made With</td>
						<td>C++, JavaScript, HTML, C, Rust</td>
					</tr>
					<tr>
						<td>Available On</td>
						<td>Windows, macOS, Linux, Android, iOS</td>
					</tr>
					<tr>
						<td>License</td>
						<td>MPL 2.0</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>