<div class="container">
	<h2 class="d-flex justify-content-center red">Vivaldi</h2>
	<img class="img-fluid rounded mx-auto d-block browser" src="./img/vivaldi_256x256.png" alt="vivaldi">
	<div class="row border-red">
		<div class="col-sm-12 col-md-6 d-flex align-items-center">
			<p><strong>Vivaldi Browser</strong> is a freeware browser developed by Vivaldi Technologies. The project was
				started by the co-founder of Opera Software (Jon Stephenson von Tetzchner), due to disagreements with
				the direction that the Opera Browser software project was taking. The browser is aimed at power users,
				and former users of Opera. Vivaldi offers extensive customizabilty of the user interface.</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<table class="table">
				<thead class="red">
					<th>Feature/Information</th>
					<th>Description</th>
				</thead>
				<tbody>
					<tr>
						<td>First Released</td>
						<td>April 6, 2016</td>
					</tr>
					<tr>
						<td>Made With</td>
						<td>C++, HTML5, Node.js, React.js</td>
					</tr>
					<tr>
						<td>Available On</td>
						<td>Windows, macOS, Linux</td>
					</tr>
					<tr>
						<td>License</td>
						<td>Proprietary Freeware</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>